# Database
sqlalchemy>=2.0
pg8000>=1.31
python-dotenv>=1.0

# Data processing
pandas>=2.0
numpy>=1.26

# Machine Learning
scikit-learn>=1.4
lightgbm>=4.3
xgboost>=2.0
imbalanced-learn>=0.12
optuna>=3.6

# Explainability
shap>=0.45

# Visualization
matplotlib>=3.8
seaborn>=0.13
plotly>=5.20

# Jupyter
jupyter>=1.0
ipykernel>=6.29

# Deploy
streamlit>=1.35